<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        
        <!-- JDBC的配置代码，与数据库进行链接 -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernatetest?characterEncoding=UTF-8</property>
        <property name="hibernate.connection.password">123456</property>
        <property name="hibernate.connection.username">root</property>
        
        <!-- 指定使用mysql数据库中的SQL语句格式-->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    
        <!-- 指定在控制台打印生成的Sql语句 -->   
        <property name="hibernate.show_sql">true</property>
        
        <!-- 指定Hibernate启动的时候自动创建表结构 -->
        <property name="hibernate.hbm2ddl.auto">create</property>
        
        <!-- 要加这一句，否则可能会出现异常 -->
        <property name="current_session_context_class">thread</property>
        <!-- 表示为每个线程生成一个session -->
        
        
        <!-- 指定Cat类为Hibernate实体类 -->
        <!-- 在这些后面的参数中，dialect和current_session_context_class是必须的 -->
        <mapping resource="hibernate/Medicine.hbm.xml" />
        <!-- 告诉Hibernate，Cat类是一个实体类，Hibernate将管理Cat与对应的数据库表 -->
    
    </session-factory>
</hibernate-configuration>